/* About */

.outside-img {
    width: 30vw;
    justify-self: center;
  }
  
  .outside-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .outside-img-box::before {
    position: absolute;
    content: "";
    display: block;
  
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%);
  } */
  
  .grey-section {
    /* margin-top: 55px; */
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .full-about-framer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 35px;
  }
  
  .about-framer {
    display: flex;
    flex-direction: column;
  }
  
  .h2-el {
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: -3.5px;
  
    padding: 2rem;
  }
  
  .about-info {
    font-size: 2.2rem;
    line-height: 26px;
    letter-spacing: -0.5px;
  
    padding: 0.8rem;
  }
  
  .outside-img {
    border-radius: 5px;
  }
  