/* Common Styles for header-brief-top and header-brief-bottom */
.header-brief-top, 
.header-brief-bottom {
    position: relative;
    white-space: nowrap;
    transform: translateX(0);
    transition: transform 0.1s linear;
    mix-blend-mode: difference;
    font-size: 6.5rem;
    font-weight: 700;
    color: #fff;
}

/* Specific Styles for header-brief-top */
.header-brief-top {
    text-align: end;
    top: 6.5rem;
    right: 45rem;
}

/* Specific Styles for header-brief-bottom */
.header-brief-bottom {
    text-align: start;
    bottom: 6.5rem;
    left: 20rem;
}

/* Add effect so as you scroll, the words start to move out of the page */
.header-brief-style-top {
    transform: translateX(-200rem);
    transition: transform 2.3s ease-in-out;
}

.header-brief-style-bottom {
    transform: translateX(200rem);
    transition: transform 2.3s ease-in-out;
}

/* Fade-In Effects */
#fadeInEffect-left-1, 
#fadeInEffect-left-2, 
#fadeInEffect-right-1, 
#fadeInEffect-right-2 {
    transition: transform 2.3s ease-in-out;
}

.fade-in {
    transform: translate(0);
}

/* Hero Framer */
.hero-framer {
    display: flex;
    flex-direction: column;
    padding: 0px 25px 0px 25px;
}

/* Image Style */
#header-img-style {
    width: 50vw; /* Initial width */
    transition: width 2.3s ease-in-out; /* Smooth transition effect */
}

.header-img {
    align-self: center;
    width: 34vw; /* Final width after transition */
    box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.2);
}

/* Break Design */
.break-design {
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 0.8rem 0.2rem 1rem rgba(0, 0, 0, 0.08);
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}