/* DESIGN FOR PHONES FIRST!!! */

/* Navigation */
.nav-blend {
  position: relative;
  mix-blend-mode: difference;
}

.nav-blend::after {
 position: absolute;
 inset: 0;
}

.home-nav {
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #2d2c2c;
}

.nav-framer {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
}


.nav-el {
  list-style: none;
  font-size: 3rem;
}

.nav-style:link,
.nav-style:visited {
  color: #2d2c2c;
  text-shadow: none;
  transition: text-shadow 1s ease;
}

.nav-style:hover,
.nav-style:active {
  color: #f1a308;
  transition: all 0.3s ease;
  text-shadow: 1.2px 0 currentColor, -1px 0 currentColor;
}