/* DESIGN FOR PHONES FIRST!!! */

/* Navigation */

.nav-framer {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
}

.home-nav {
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
}

.home-nav:link,
.home-nav:visited {
  color: #2d2c2c;
  font-weight: 800;
  transition: all 2.5s;
}

.home-nav:hover,
.home-nav-gold {
  color: #b89c00;
  transition: all 2.5s ease-in;
}

.home-nav-gold {
  color: #2d2c2c;
  transition: all 0.4s ease-out;
}



.nav-el {
  list-style: none;

  font-size: 3rem;
}

.nav-style:link,
.nav-style:visited {
  color: #2d2c2c;
  font-weight: 400;
  transition: all 0.3s;
}

.nav-style:hover,
.nav-style:active {
  color: #f1a308;
  font-weight: 700;
  text-shadow: 0.8rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
}